# This is a configuration definition file in folder "/Users/Allen_Deng/LTLMoP/src/examples/tutorial/configs/configs".
# Format details are described at the beginning of each section below.


======== General Config ========

Actuator_Proposition_Mapping: # Mapping between actuator propositions and actuator handler functions
standUp = Johnny5.Johnny5Actuator.standUp()
takeBow = Johnny5.Johnny5Actuator.takeBow()
highFive = Johnny5.Johnny5Actuator.highFive()

Initial_Truths: # Initially true propositions

Main_Robot: # The name of the robot used for moving in this config
Johnny5

Name: # Configuration name
Demo

Region_Tags: # Mapping from tag names to region groups, for quantification
{}

Sensor_Proposition_Mapping: # Mapping between sensor propositions and sensor handler functions
findMe = Johnny5.Johnny5Sensor.findPoint()


======== Robot1 Config ========

ActuatorHandler: # Actuator handler file in robots/Type folder
Johnny5Actuator()

CalibrationMatrix: # 3x3 matrix for converting coordinates, stored as lab->map
array([[ 322.165,    0.   ,  563.918],
       [   0.   , -322.165,  537.822],
       [   0.   ,    0.   ,    1.   ]])

DriveHandler: # Input value for robot drive handler, refer to file inside the handlers/drive folder
differentialDrive(d=0.6)

InitHandler: # Input value for robot init handler, refer to the init file inside the handlers/robots/Type folder
Johnny5Init(comPort="/dev/tty.usbserial-A600eIiI")

LocomotionCommandHandler: # Input value for robot locomotion command handler, refer to file inside the handlers/robots/Type folder
Johnny5LocomotionCommand()

MotionControlHandler: # Input value for robot motion control handler, refer to file inside the handlers/motionControl folder
vectorController()

PoseHandler: # Input value for robot pose handler, refer to file inside the handlers/pose folder
viconPose(host="10.0.0.102",port=800,x_VICON_name="Johnny5-fixed:Johnny5 <t-X>",y_VICON_name="Johnny5-fixed:Johnny5 <t-Y>",theta_VICON_name="Johnny5-fixed:Johnny5 <a-Z>")

RobotName: # Robot Name
Johnny5

SensorHandler: # Sensor handler file in robots/Type folder
Johnny5Sensor()

Type: # Robot type
Johnny5

